# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* List popular languages for Data Science
* List popular Data Science libraries
* Table with popular Data Science Tools
* Use code cells for arithmetic evaluation

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. Matplotlib
5. PyTorch

|Data Science Tools|
|------------------|
|Apache Spark      |
|Apache Hadoop     |
|TensorFlow        |
|Ggplot2           |
|Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
minutes / 60

3.3333333333333335

## Author

Marco Gonzalez